extends layout

block content
    .row
        .col-sm-3
            h2  About page
            hr
            p   Lorem ipsum dolor sit amet, consectetur     
                adipisicing elit. Minus reprehenderit, consequatur aliquid consequuntur sed earum! Temporibus, recusandae, maiores eos esse accusantium impedit nam sint necessitatibus, autem nulla, quae molestias dolore
        .col-sm-9
            h2  With its custom template
            hr
            p   Lorem ipsum dolor sit amet, consectetur     
                adipisicing elit. Minus reprehenderit, consequatur aliquid consequuntur sed earum! Temporibus, recusandae, maiores eos esse accusantium impedit nam sint necessitatibus, autem nulla, quae molestias dolore
                Lorem ipsum dolor sit amet, consectetur     
                adipisicing elit. Minus reprehenderit, consequatur aliquid consequuntur sed earum! Temporibus, recusandae, maiores eos esse accusantium impedit nam sint necessitatibus, autem nulla, quae molestias dolore
                Lorem ipsum dolor sit amet, consectetur     
                adipisicing elit. Minus reprehenderit, consequatur aliquid consequuntur sed earum! Temporibus, recusandae, maiores eos esse accusantium impedit nam sint necessitatibus, autem nulla, quae molestias dolore
